{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content_title -%}
<div class="container col-md-6">
    {{- _fsdomain('Change password') -}}
</div>
{%- endblock content_title %}
{% block content %}
{% include "security/_messages.html" %}
<div class="container col-md-6">
    <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
      {{ change_password_form.hidden_tag() }}
      {{ render_field_with_errors(change_password_form.password, class="form-control mb-2") }}
      {{ render_field_with_errors(change_password_form.new_password, class="form-control mb-2") }}
      {{ render_field_with_errors(change_password_form.new_password_confirm, class="form-control mb-2") }}
      {{ render_field(change_password_form.submit, class="btn btn-block btn-outline-primary rounded") }}
    </form>
</div>
{% endblock %}
